<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content=".">
    <title>Best Auction Site</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">
</head>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" th:href="@{/home}">Home</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">Best Auction Site</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                         viewBox="0 0 24 24" focusable="false"><title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5"/>
                        <path d="M21 21l-5.2-5.2"/>
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{/user/login}">Log in</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <tr class="p-2 text-muted" th:each="category: ${categories}">
                <a class="p-2 text-muted" th:href="@{/auctions(category=${category.getName().toLowerCase()})}" th:text="${category.getName()}" />
            </tr>
        </nav>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div layout:fragment="content" class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Tu będą aukcje
            </h3>

<!--            <div class="blog-post">-->
<!--                <h2 class="blog-post-title">Sample blog post</h2>-->
<!--                <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>-->

<!--                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic-->
<!--                    typography, images, and code are all supported.</p>-->
<!--                <hr>-->
<!--                <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean-->
<!--                    eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at-->
<!--                    lobortis. Cras mattis consectetur purus sit amet fermentum.</p>-->
<!--                <blockquote>-->
<!--                    <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo.-->
<!--                        Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
<!--                </blockquote>-->
<!--                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.-->
<!--                    Aenean lacinia bibendum nulla sed consectetur.</p>-->
<!--                <h2>Heading</h2>-->
<!--                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus,-->
<!--                    nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac,-->
<!--                    vestibulum at eros.</p>-->
<!--                <h3>Sub-heading</h3>-->
<!--                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
<!--                <pre><code>Example code block</code></pre>-->
<!--                <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,-->
<!--                    tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>-->
<!--                <h3>Sub-heading</h3>-->
<!--                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum-->
<!--                    nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus-->
<!--                    commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--                <ul>-->
<!--                    <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>-->
<!--                    <li>Donec id elit non mi porta gravida at eget metus.</li>-->
<!--                    <li>Nulla vitae elit libero, a pharetra augue.</li>-->
<!--                </ul>-->
<!--                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>-->
<!--                <ol>-->
<!--                    <li>Vestibulum id ligula porta felis euismod semper.</li>-->
<!--                    <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>-->
<!--                    <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>-->
<!--                </ol>-->
<!--                <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>-->
<!--            </div>&lt;!&ndash; /.blog-post &ndash;&gt;-->

<!--            <nav class="blog-pagination">-->
<!--                <a class="btn btn-outline-primary" href="#">Older</a>-->
<!--                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>-->
<!--            </nav>-->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Tak</h4>
                <p class="mb-0">Tu też będą aukcje</p>
            </div>

<!--            <div class="p-4">-->
<!--                <h4 class="font-italic">Archives</h4>-->
<!--                <ol class="list-unstyled mb-0">-->
<!--                    <li><a href="#">March 2014</a></li>-->
<!--                    <li><a href="#">February 2014</a></li>-->
<!--                    <li><a href="#">January 2014</a></li>-->
<!--                    <li><a href="#">December 2013</a></li>-->
<!--                    <li><a href="#">November 2013</a></li>-->
<!--                    <li><a href="#">October 2013</a></li>-->
<!--                    <li><a href="#">September 2013</a></li>-->
<!--                    <li><a href="#">August 2013</a></li>-->
<!--                    <li><a href="#">July 2013</a></li>-->
<!--                    <li><a href="#">June 2013</a></li>-->
<!--                    <li><a href="#">May 2013</a></li>-->
<!--                    <li><a href="#">April 2013</a></li>-->
<!--                </ol>-->
<!--            </div>-->

<!--            <div class="p-4">-->
<!--                <h4 class="font-italic">Elsewhere</h4>-->
<!--                <ol class="list-unstyled">-->
<!--                    <li><a href="#">GitHub</a></li>-->
<!--                    <li><a href="#">Twitter</a></li>-->
<!--                    <li><a href="#">Facebook</a></li>-->
<!--                </ol>-->
<!--            </div>-->
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
    <p>Fear is the mind killer</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</html>